global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'node'
    static_configs:
      - targets: ['prometheus-prometheus-node-exporter:9100']
  - job_name: 'kube-state-metrics'
    static_configs:
      - targets: ['prometheus-kube-state-metrics:8080']