global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'k6-operator'
    static_configs:
      - targets: ['localhost:8080']  # k6-operator metrics via port-forward

remote_write:
  - url: http://localhost:9090/api/v1/write