apiVersion: k6.io/v1alpha1
kind: TestRun
metadata:
  name: swagger-a9d943e3-test
  namespace: default
  labels:
    test-name: swagger-a9d943e3-test
spec:
  parallelism: 1
  script:
    configMap:
      name: swagger-a9d943e3-test
      file: swagger-a9d943e3-test.tar
  runner:
    env:
      - name: K6_WEB_DASHBOARD
        value: "true"
    ports:
      - containerPort: 5665
        name: dashboard

---
apiVersion: v1
kind: Service
metadata:
  name: swagger-a9d943e3-test-dashboard
  namespace: default
spec:
  type: LoadBalancer
  selector:
    test-name: swagger-a9d943e3-test  # matches metadata.labels
  ports:
    - name: http
      port: 80
      targetPort: 5665
      protocol: TCP